.lead {
  padding-top: 56px;
  margin: 0 148px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-gap: 0 0;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 0 48px;
  }
}

@media screen and (max-width: 850px) {
  .lead {
    margin: 0;
  }
}
