.header {
  max-width: 1184px;
  padding-top: 28px;
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, max-content);
  grid-template-rows: max-content;
  grid-gap: 0 18px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 340px) {
  .header {
    margin: 0 16px;
  }
}
