.lead__title {
  max-width: 720px;
  padding: 0;
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 100%;
    font-size: 64px;
    line-height: 1.07;
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  .lead__title {
    font-size: 44px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
