.cover {
  z-index: 1;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  margin: 92px auto 0;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 88px auto 0;
  }
}

@media (max-width: 550px) {
  .cover {
    min-height: 350px;
    margin: 80px auto 0;
  }
}

@media (max-width: 425px) {
  .cover {
    min-height: 280px;
    margin: 70px auto 0;
  }
}

@media (max-width: 375px) {
  .cover {
    min-height: 240px;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 66px auto 0;
  }
}
