.place__link {
  max-width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity 0.3s;
  margin: 0;
  display: block;
  padding-top: 12px;
}

.place__link:hover {
  opacity: 80%;
  cursor: pointer;
}
