.place {
  max-width: 100%;
  padding: 92px 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: minmax(min-content, max-content);
  grid-column-gap: 40px;
}

.place:not(:first-of-type) {
  padding-top: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) fit-content(456px);
    grid-column-gap: 32px;
    justify-content: center;
  }

@media screen and (max-width: 950px) {
  .place {
    padding-top: 88px;
    grid-template-columns: fit-content(340px) fit-content(352px);
    grid-column-gap: 28px;
    justify-content: center;
  }

  .place:not(:first-of-type) {
    padding-top: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    padding-top: 64px;
    grid-template-columns: 1fr;
  }

  .place:not(:first-of-type) {
    padding-top: 50px;
  }
}
