.footer {
  max-width: 100%;
  padding: 92px 0 24px;
  margin: 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 790px) {
  .footer {
    margin: 0 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 745px) {
  .footer {
    flex-direction: column;
    padding-top: 44px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-left: 16px;
    padding-top: 36px;
  }
}
